.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/****** HEADER  ******/

body{
  background-color: #86cec1!important;
}

body .bg-dark
{
 background-color:rgb(43, 104, 101) !important;
}
.img{
  
  border-radius: 5px 0px 30px;
}
.nav-link {
color:rgb(255, 255, 255) !important;
font-weight: bold;
}

/***** Image sliding *****/

.carousel 
{
 position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;   
}
.carousel-item img{
  width: 1000px;
  height: 900px;
  border-radius: 1%;
}


.carousel-caption h1 {
    font-family: sans-serif !important;
    font-size: 85px !important;
    font-weight: 700 !important;
    line-height:36px !important;    
    color: rgb(22, 22, 18) !important;
    margin: 0px !important; 
   padding: 0px !important;
    text-shadow: 0px 0px 7px rgb(255, 255, 255) !important;
    text-align: center !important;
}

.carousel-caption p {
    margin-top: 11px !important;
    font-size:50px !important;
    font-weight: 300 !important;
  
    line-height:21px !important;
    color: rgb(255, 255, 255)!important;
    padding-bottom:50px !important; 
    margin-bottom: 40px !important;
    text-shadow: 0px 0px 30px rgb(0, 0, 0) !important;
    text-align: center !important;
}

/***** Snacks *****/
.pagealign
{

margin-top:200px;
padding-top:200px;
}